.btn-outline-success{
    color:white;
    border-color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.bg-dark {
    /*background:linear-gradient(rgba(65,105,249,0.9),rgba(0,0,249,0.8));*/
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(0,255,0,0.7);
}

.nav-item{
	padding-right: 10px;
}

@media (min-width: 768px){
.pb-md-0, .py-md-0{
	margin-top: 56px;
	height: 25px!important;
}
}

.py-0 a{
	color: white;
}

.red:hover{
	color:red;
}

#enquiry{
	background-color:red;
	height:32px;
	color:white;
}

#enquiry:hover{
	background-color: black;
}

@media (max-width: 990px){
	#second-nav
	{
		display: none;
	}
}

/*body*/

html, body {
  background: white;
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url("img/image1..jpg");
  background-size: cover;

}

.slide:nth-of-type(2) {
  background-image: url("img/image1..jpg");
  background-size: cover;
}

.slide:nth-of-type(3) {
  background-image: url("img/image1..jpg");
  background-size: cover;
}

.slide:nth-of-type(4) {
  background-image: url("img/image1..jpg");
  background-size: cover;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6!important;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -450px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

#header{
	color:white;
	border-radius: 10px;
	text-align: center;
	margin-top: 30px;
	/*width:400px;*/
	background-color: black;
}

@media (max-width: 990px)
{
	#header{
		margin-top: 100px;
	}
}

#header2{
	
	margin-top: 70px;
	text-align: center;
	color: white;
	background-color: black;
}

/*/body*/
